@page "/impersonate"
@attribute [Authorize(Roles = "Admin")]
@using AuthorizationSample.Claims;
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <p>Hello, @context.User.Identity.Name!</p>

        <p>@ImpersonateCheck.ImpersonateMessage(context.User.Claims)</p>

        <p><button class="btn btn-primary" @onclick="Change1">Change Impersonation to Student 1</button></p>

        <p><button class="btn btn-primary" @onclick="Change2">Change Impersonation to Student 2</button></p>

        <p><button class="btn btn-primary" @onclick="Remove">Remove Impersonation</button></p>

    </Authorized>
</AuthorizeView>

@code {
    private void Change1()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).Impersonate("student1");
        StateHasChanged();
    }

    private void Change2()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).Impersonate("student2");
        StateHasChanged();
    }

    private void Remove()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).RemoveImpersonation();
        StateHasChanged();
    }
}
